body{
    margin: 0;
    padding: 0;
    background-color: #f4f4f2;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.container__img{
    height: 50vh;
    margin: 5vh 0 5vh 0;
}

.container__frase{
    font-style: italic;
    font-size: 1.5rem;
    color: #d47830;

}

.botao{
    padding: 7px;
    border-radius: 10px;
}

.botao:active{
    background-color: white;
}